body {
	background-attachment: fixed;
	background-image: url("../images/background.png");
	background-position: center; 
	background-size:100% 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: .8em;
}
#wrapper{
	position: absolute;
}
aside {
	float: left; 
	position: fixed; 
	width: 250px;
	min-width: 200px;
	margin-left: 100px;
    margin-top: 5%;
}
#wayra {
    bottom: 0;
    position: fixed;
}
a {
	color: #aaa;
}
#content{
	position: inherit; 
	margin-top: 15px;
}
nav{
	bottom: 0px; 
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	font-size: .8em;
	font-weight: bold;
}
nav a{
	text-decoration: none;
	color: #999;
}
#title{
	font-size: 2em;
	margin-left: 15px;
}
#logo{
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #bbb;
	font-size: 24px;
	padding: 5px 5px 5px 15px
}
#logo img{
	width: 220px;
}
#central_section{
	position: relative; 
	left: 400px; 
	margin: 10% auto 0 30px;
}
/*Responsive grid*/
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: auto;	
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}